<p id="notice"><%= notice %></p>
<h2 class="title">Users</h2>


<div class="container">
  <div class="row">
      <div class="container col-md-7 ">
        <div class="table-responsive" data-pattern="priority-columns">
          <table class="table table-hover" id="users" >
              <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th data-priority="1">Last Name</th>
                  <th data-priority="2">Role </th>
                  <th data-priority="3">Email</th>
                  <th data-priority="4">Opciones</th>
                </tr>
              </thead>

              <tbody>
                <%= render @users %>
              </tbody>
            </table>
          <br>
        </div>
      </div>
            <div class="col-md-5" id="new-users">
                <%= link_to 'Crear Usuarios', new_user_path, remote: true , class: 'btn btn-success btn-lg text-white text-decoration-none' %>
            </div>

  </div>
</div>
