<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<%= @order_items.each do |item|%>
  <h3><%= item.product.name %></h3>
  <h5><%= item.product.price.map(&:salesprice).last%></h5>

  
<% end %>
