<p id="notice"><%= notice %></p>
<div class="main">
  <h3 class="title">Add to new category</h3>
  <div class="container">
    <div class="row">
        <div class="container col-md-6 ">
          <div class="table-responsive" data-pattern="priority-columns">
            <table  id="prices" class="table table-hover" >
                <thead class="thead-dark">
                  <tr>
                    <th>Product</th>
                    <th>Salesprice</th>
                    <th>Price Cost</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @prices %>
                </tbody>
              </table>
            <br>
          </div>
        </div>
        <div class="col-md-6" id="new-prices">
            <%= link_to 'Add price from product', new_price_path, remote: true , class: 'btn btn-success btn-lg text-white text-decoration-none ' %>
        </div>
    </div>
  </div>

</div>
