<p id="notice"><%= notice %></p>
<h2 class="title">Products</h2>

<div class="container">
  <div class="row">
      <div class="m-2 text-center mb-5" id="new-products">
          <%= link_to 'Create Product', new_product_path, remote: true , class: 'btn btn-success btn-lg text-white text-decoration-none' %>
      </div>
      <div class="m-2 text-center mb-5" id="new-prices">
          <%= link_to 'Update Price', new_price_path , class: 'btn btn-success btn-lg text-white text-decoration-none' %>
      </div>
  </div>
  <div class="row">
      <div class="col-md-10 offset-1">
        <div class="container">
          <div class="row">
            <table class="table table-hover" id="products" >
                <thead class="thead-dark">
                </thead>
                <tbody>
                  <%= render @products %>
                </tbody>
              </table>
              <br>
          </div>
        </div>
      </div>
  </div>
</div>
